services:
  db:
    image: postgres:16
    container_name: my-postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - note-logs-network

  api:
    build: .
    container_name: notewatchapi
    ports:
      - "${MAPPINGPORT}:${APIPORT}"
    environment:
        DB_HOST: db
        DB_USER: ${DB_USER}
        DB_PASSWORD: ${DB_PASSWORD}
        DB_NAME: ${DB_NAME}
        DB_PORT: ${DB_PORT}
    depends_on:
      - db
    networks:
      - note-logs-network


volumes:
  pgdata:

networks:
  note-logs-network:
    driver: bridge
